.main-title {
  color: white; 
  font-family: Arial, Helvetica, sans-serif;
}

.header-title {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.ucv-logo {
  width: 70%;
  border: none !important;
  border-radius: 50%;
}