.main-title {
  color: white; 
  font-family: Arial, Helvetica, sans-serif;
}

.header-title {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.ucv-logo {
  width: 70%;
  border: none !important;
  border-radius: 50%;
}

.definition {
  text-align: justify;
  background-color: white;
  color: black;
  width: 100%;
  padding: 20px!important;
  border-radius: 20px;
}

.definition-title {
  padding: 20px 20px !important;
  border-radius: 20px;
  background-color: white;
  color: black;
  width: 80%;
}